appdirs==1.4.4
attrs==21.2.0
beautifulsoup4==4.9.3
certifi==2021.5.30
chardet==4.0.0
colorama==0.4.4
comtypes==1.1.10
distlib==0.3.2
filelock==3.0.12
idna==2.10
importlib-metadata==4.6.1
ipython-genutils==0.2.0
jsonschema==3.2.0
jupyter-core==4.7.1
MouseInfo==0.1.3
nbformat==5.1.3
Pillow==8.3.0
pipenv==2021.5.29
PyAutoGUI==0.9.52
PyGetWindow==0.0.9
pyjokes==0.6.0
PyMsgBox==1.0.9
pyperclip==1.8.2
pypiwin32==223
PyRect==0.1.4
pyrsistent==0.18.0
PyScreeze==0.1.27
pyttsx3==2.90
PyTweening==1.0.3
pywhatkit==4.9
pywin32==301
requests==2.25.1
six==1.16.0
soupsieve==2.2.1
SpeechRecognition==3.8.1
traitlets==5.0.5
typing-extensions==3.10.0.0
urllib3==1.26.6
virtualenv==20.4.7
virtualenv-clone==0.5.4
wikipedia==1.4.0
zipp==3.5.0
